body {
  background-image: url('../Frontend/images/youtube_wall.jpg');
}

form {
  margin: auto;
  margin-top: 250px;
}

#header {
  margin-top: 50px;
}

#submit {
  margin-top: 25px;
}

label#password {
  margin-top: 25px;
}