body {
  background-image: url('/youtube_wall.png');
}

li {
  margin-bottom: 20px;
  color: white;
}

#headlines-linkers {
  color: whitesmoke;
}

#header {
  margin-top: 18px;
  margin-right: 25px;
  color: white; 
}

.rows {
  margin-top: 30px;
  margin-bottom: 65px;

}

.category {
  text-align: center;
  
}

.arrow {
  margin-top: 500px;
  color: black;
}

.left-arrow {
  margin-left: 100px;
}

.right-arrow {
  margin-right: 100px;
}

.articles {
  width: 788px; 
  height: 400px; 
}

.images {
  width 780px; 
  height: 445px; 
}

.flexer {
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  margin-left: 10px; 
  margin-right: 10px;
}

.navbar-nav {
  height: 40px;
}

.headlines-container {
  margin-top: 18px;
  margin-left: 35px;
  width: 400px; 
}

.stock {
  display: inline;
  font-size: 20px;
}

.stock-bar {
  margin-top: 65px; 
  height: 35px;
}

.stock-list {
  display: flex;
  justify-content: space-around;
}

.headlines-bar {
  border-top: black;
  border-top-style: solid;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 16px;
}

.main-videos {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}

.top-video {
  margin-bottom: 30px;
  border: white;
  border-style: solid;
}

.bottom-video {
  border: white;
  border-style: solid;
}

#brand {
  color: white;
  font-size: 21px;
  margin-right: 35px;
  margin-left: 20px;
}

#text-links {
  display: flex; 
  justify-content: center; 
  background-color: cornsilk;
  
}

#linkers {
  color: black;
  padding: 5px 5px 5px 5px; 
}

#second-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 0;
  color: white;
}

#news-slide {
  width: 700px;
  margin-top: 67px;
  height: 470px; 
  background-color: lightslategrey;
  border: black;
  margin-left: 46px;
  border-width: 6px;
  border-style: solid;
}

#video-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: black;
}

#video-title {
  color: white;
}

h1.header {
  font-size: 50px;
}

footer {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
}