body {
  background-image: url('/youtube_wall.png');
}

h1 {
  font-size: 25px;
}

#header {
  margin-top: 18px;
  margin-right: 25px;
  color: white; 
}

.rows {
  margin-top: 30px;
  margin-bottom: 65px;

}

.articles {
  width: 788px; 
  height: 410px; 
}

.images {
  width 780px; 
  height: 445px; 
}

.flexer {
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  margin-left: 10px; 
  margin-right: 10px;
}

#brand {
  color: white;
  font-size: 21px;
  margin-right: 35px;
  margin-left: 20px;
}

#text-links {
  display: flex; 
  justify-content: center; 
  background-color: cornsilk;
  
}

#linkers {
  color: black;
  padding: 5px 5px 5px 5px; 
}

#second-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 75px;
  margin-bottom: 0;
  color: white;
}

#news-slide {
  width: 800px;
  height: 500px; 
  margin-top: 20px;
  background-color: lightslategrey;
  border: black;
  border-width: 6px;
  border-style: solid;
}

#photo-slide {
  width: 800px;
  height: 500px; 
  margin-top: 20px;
  background-color: lightslategrey;
  border: black;
  border-width: 6px;
  border-style: solid;
}

#video-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: black;
}

#video-title {
  color: white;
}