body {
  background-image: url('/youtube_wall.png');
}

li {
  margin-bottom: 20px;
  color: white;
}

#headlines-linkers {
  color: whitesmoke;
}

#header {
  margin-top: 18px;
  margin-right: 25px;
  color: white; 
}

.rows {
  margin-top: 30px;
  margin-bottom: 65px;

}

.category {
  text-align: center;
  
}

.navbar {
  align-items: center;
}

.articles {
  width: 788px; 
  height: 410px; 
}

.images {
  width 780px; 
  height: 445px; 
}

.flexer {
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  margin-left: 10px; 
  margin-right: 10px;
}

.headlines-container {
  margin-top: 18px;
  margin-left: 4px;
  width: 400px; 
}

.headlines-bar {
  border-top: black;
  border-top-style: solid;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 16px;
}

#brand {
  color: white;
  font-size: 21px;
  margin-right: 35px;
  margin-left: 20px;
}

#text-links {
  display: flex; 
  justify-content: center; 
  background-color: cornsilk;
  
}

#linkers {
  color: black;
  padding: 5px 5px 5px 5px; 
}

#second-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 75px;
  margin-bottom: 0;
  color: white;
}

#news-slide {
  width: 700px;
  margin-top: 20px;
  background-color: lightslategrey;
  border: black;
  margin-left: 46px;
  border-width: 6px;
  border-style: solid;
}

#video-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: black;
}

#video-title {
  color: white;
}

h1.header {
  margin-top: 20px;
  font-size: 50px;
}

footer {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
}