body {
  background-image: url('/youtube_wall.png');
}

.first-row {
}

.last-row {
  margin-bottom: 100px;
}

.card {
  margin-top: 45px;
}

.nav-link {
  margin-left: 10px; 
  margin-right: 10px;
}

.card {
  width: 18rem;
}

.picture {
  width: 286px; 
  height: 180px;
}

.sixth-row {
  margin-bottom: 30px;
}

h5.card-title {
  width: 246px;
  height: 120px;
  font-size: 18px;
}

.article-button {
  display: flex;
  justify-content: center;
}

.section {
  margin-top: 20px;
  text-align: center;
  color: white;
}

#business {
  margin-top: 75px;
  text-align: center;
  color: white; 
}

#brand {
  color: white;
  font-size: 21px;
  margin-right: 35px;
  margin-left: 20px;
}

footer {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
}